body {
    /*Ne touchez pas sans prévenir*/
}

main {
    /*Ne touchez pas sans prévenir*/
}

section {
    /*Ne touchez pas sans prévenir*/
}

footer {
    /*Ne touchez pas sans prévenir*/
}


.margin {
    margin: 14px;
    /* padding: 0px; */
}

/* .tableWidth {
    width:400px;
} */

.recapDiv {
    height: 100%;
    width: 30%;
    background-color: red;
    position: absolute;
    top: 0;
    right: 0; 
}