body {
    /*Ne touchez pas sans prévenir*/
}

main {
    /*Ne touchez pas sans prévenir*/
}

section {
    /*Ne touchez pas sans prévenir*/
}

footer {
    /*Ne touchez pas sans prévenir*/
}


.margin {
    margin: 14px;
    /* padding: 0px; */
}

/* header */

.nav{
    background-color: rgb(7, 7, 20);
}

.logoTitle {
    
}
.hero{
    background-image: url(./assets/images/hero.png);
    background-size: cover;
    height: 300px;
    margin-bottom: 20px;
    
}
.heroTitle{
    color: white;
}

